@import url(styleHeader.css);
@import url(styleFooter.css);
@import url(soporte.css);



*{
    margin: 0px;
    padding: 0px;
    font-family: Bahnschrift;
}

body{
    margin: 0;
}


/*DIRECCIONES*/
.boton{ 
    margin: 15px 30px 15px 30px;      
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 6px 10px;
    text-align: center;
    width: 180px;
    flex: 2 1 auto;
    text-decoration: none;
}

/*------LOGIN------*/
.inicios{   
    margin: 18px 5px 0 5px;
    background: #016BE4;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 1px 5px;
    text-align: center;
    width: 120px;
    flex: 2 1 auto;
    text-decoration: none; 
    border: 2px solid #fff;   
    border-radius: 20px;
}

.register{ 
    margin-right: 20px;  
    background: #fff;
    color: #016BE4;
    display: inline-block;
    font-size: 16px;
    padding: 3px 5px;
    text-align: center;
    width: 120px;
    flex: 3 1 auto;
    text-decoration: none;    
    border-radius: 20px;
}

/*----------------*/

/*=====================
        MAIN
=======================*/
main{
    width: 100%;
    height: 100%;    
}

#banner{
    margin-top: 110px;
    width: 100%;
}



.slider-show .sl-bn{
    width: 100%;
    margin-top: 115px;
    overflow: hidden;
}
.sl-bn ul{
    display: flex;
    width: 400%;
    padding: 0;
    list-style: none;

    animation: animacion 35s infinite alternate;
}

.sl-bn ul li{
    width: 100%;
    align-items: center;
}
    .sl-bn li>img{
        width: 1344.5px;
        height: 300px;
    }


/*7777777777777777777777777777777777777*/

.slider-categorias{
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 50px 0;
}
    .slider-categorias .sl-ct-banner{
        width: 100%;  
        text-align: center;      
    }
    .slider-categorias .sl-ct-banner #barras-slider{
        padding: 5px;
        background-color: cyan;
        border: none;
    }

    .slider-categorias .sl-ct-banner h1{
        color: #016BE4;
        padding: 5px 0;
    }

/*CAJA DE SLIDER CATEGORIAS*/
.slider-categorias .contenedor .lista-slider{
    list-style: none;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;

    animation: animaCategoria 20s infinite ;
}
.slider-categorias .contenedor .lista-slider>.contenido-lista{
    width: 180px;
    height: 180px;
    margin: 10px; 
    text-align: center;
    padding: 20px 70px;
}
.lista-slider .contenido-lista>.categorias-lista{
    border: 10px solid #016BE4;
    border-radius: 50%;
    width: 90%;
    height: 90%;
}
.slider-categorias .categorias-lista .marco-lista{
    display: block;
    text-align: center;
    width: 100%;
    height: 100%; 
    text-decoration: none;  
    justify-content: center;
    margin-right: 120px;
}
.categorias-lista .icono-lista{
    min-width: 100px;
    min-height: 100px;      
    position: relative;
    z-index: 0;
}
    .icono-lista>img{
        margin: auto;
        position: absolute;
        max-height: 90px;
        max-width: 90px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
    }
.categorias-lista .txt-lista{
    color: #016BE4;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
}


@keyframes animacion{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

@keyframes animaCategoria{
    0%{margin-left: 0;}
    10%{margin-left: 0;}

    15%{margin-left: -325px;}
    25%{margin-left: -325px;}

    30%{margin-left: -650px;}
    45%{margin-left: -650px;}

    50%{margin-left: -1000px;}
    65%{margin-left: -1000px;}

    70%{margin-left: -1350px;}
    85%{margin-left: -1350px;}

    90%{margin-left: 0px;}
    100%{margin-left: 0px;}
    
    
}
