/*--------------------------------------SOPORTE AL USUARIO--------------------------------------*/
.soporte{
    position: fixed;
    top: 80%;
    left: 30px;
    bottom: 10%;
    z-index: 1;
}

.soporte .contenedor-servicio{
    width: 310px;    
    position: absolute;
    left: 80px;
    bottom: 65px;  
    visibility: hidden;
}
    .contenedor-servicio.active{
        visibility: visible;
    }

.contenedor-servicio .box-service{
    background-color: #004798;
    width: 310px; 
    
}

.box-sv-header{
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #016BE4;
    padding: 5px 20px;
    color: #fff;
}
.box-service .asesor-tecnico{
    width: 260px;
    padding: 0 25px;
    background-color: #004798;
}
    .box-service .asesor-tecnico h4{
        color: #fff;
        text-align: center;
        padding: 3px 0;
    }
    .asesor-tecnico p{
        color: #fff;
    }
.box-service .asesor-tecnico form{
    width: 100%;
}
    .box-service .asesor-tecnico form>input{
        padding: 5px 15px;
        color: #004798;
        border: none;
        display: block;
        margin-bottom: 15px;
        width: 230px;
    }
    .asesor-tecnico form>label{
        color: #fff;
    }
    .asesor-tecnico form>select{
        padding: 5px 15px;
        color: #004798;
        border: none;
        display: block;
        margin-bottom: 15px;
        width: 260px;
    }
.asesor-tecnico form .mensaje-sv{
    height: 50px;
    text-align: initial;
    flex-wrap: wrap;
}

.box-service .cita-mdc{
    width: 310px;
    text-align: center;    
    justify-content: center;
    color: #fff;
    margin: 0;
    padding-bottom: 15px;
}
    .box-service .cita-mdc>button{
        color: #fff;
        background-color: #016BE4;
        border: none;
        padding: 5px 15px;
        text-align: center;
        width: 250px;
        font-size: 18px;
    }

/*----------------------------------------------------------------------------------------------------*/